.Footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  color: #666;
  text-align: right;
  font-family: "EB Garamond", serif;
  p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 20px;

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}
  