@import "../global.less";

.Header {
    position: absolute;
    z-index: 100;
    right: 0;
    padding: 10px 20px;

    @media (max-width: 480px) {
      padding: 10px;
    }
  
    nav button {
      margin: 0 10px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }
  
    .language-switcher {
      display: inline-block;
      margin-left: 10px;

      @media (max-width: 768px) {
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
        width: 40px;
        text-align: center;
      }

      button {
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 0.8rem;
        line-height: 1rem;
        opacity: 0.75;
        transition: all 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }

    .links {
      display: inline-block;
      span {
        position: relative;
        margin-left: 10px;
        font-size: 1rem;
        color: #fff;
        opacity: 0.75;
        transition: all 0.2s;
        text-shadow: 1px 1px 0 #333;

        @media (max-width: 768px) {
          display: block;
          margin-bottom: 10px;
          margin-left: 0;
          width: 40px;
          text-align: center;
        }
        
        &:hover {
          opacity: 1;
        }
        
        
      }
    }
  }
  